﻿
html, body, #Content {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
}

#header {
	padding: 5px;
}

.navbar-home li a {
	padding-top: 5px;
	padding-bottom: 5px;
}

.user-loged {
	font-style: italic;
	margin-left: 11px;
	position: relative;
	top: 6px;
	color: #AFB2B9;
	font-size: 14px;
	font-weight: bold;
}

.navbar-home li img.navbar-brand {
	padding-top: 1px;
	padding-bottom: 0px;
	height: 25px;
}

.navbar-custom {
	background-color: #424C60;
	color: #ffffff;
	border-radius: 0;
}

	.navbar-custom .navbar-nav-no-over > li > a {
		color: #fff;
	}

	.navbar-custom .navbar-nav-no-over > .active > a {
		color: #ffffff;
		background-color: transparent;
	}

	.navbar-custom .navbar-nav > li > a {
		color: #fff;
	}

	.navbar-custom .navbar-nav > .active > a {
		color: #ffffff;
		background-color: transparent;
	}

		.navbar-custom .navbar-nav > li > a:hover,
		.navbar-custom .navbar-nav > li > a:focus,
		.navbar-custom .navbar-nav > .active > a,
		.navbar-custom .navbar-nav > .active > a:hover,
		.navbar-custom .navbar-nav > .active > a:focus,
		.navbar-custom .navbar-nav > .open > a {
			text-decoration: none;
			background-color: #747881;
		}

	.navbar-custom .navbar-brand {
		color: #eeeeee;
	}

	.navbar-custom .navbar-toggle {
		background-color: #eeeeee;
	}

	.navbar-custom .icon-bar {
		background-color: #747881;
	}

.navbar-custom {
	border: 0px !important;
}

#Content .iframe-content {
	border: 0px !important;
}

.container-fluid {
	padding: 10px !important;
	margin: auto !important;
}




.no-hover {
	pointer-events: none !important;
}


.bd-example-modal-lg .modal-dialog {
	display: table;
	position: relative;
	margin: 0 auto;
	top: calc(30% - 24px);
}

	.bd-example-modal-lg .modal-dialog .modal-content {
		border: none !important;
	}

.no-shadow, .navbar-brand, .navbar-nav li a {
	text-shadow: 0 0px 0 rgba(255,255,255,.25) !important;
}

.logo-user {
	font-size: 30px !important;
	/*margin-top: -10px;
			margin-left: 5px;*/
	position: absolute;
	top: 1px;
}

.relojcss {
	font-style: italic;
	margin-left: 11px;
	color: #AFB2B9 !important;
	font-size: 10px;
	font-weight: bold;
	top: 2px !important;
}

.user-name {
	padding: 0px 8px 0px 5px;
	font-size: 10px;
}

.user-data {
	pointer-events: initial;
	cursor: pointer !important;
}

	.user-data table, .user-data fieldset {
		width: 100% !important;
	}

.user-data-fieldset {
	padding: 5px !important;
	border: 1px #e4e4e4 solid !important;
}


.modal-dialog-2 {
	position: absolute !important;
	top: 50px !important;
	right: 70px !important;
	bottom: 0 !important;
	
	z-index: 10040 !important;
	overflow: auto !important;
	overflow-y: auto !important;
	max-width: 500px !important;
}