﻿/*
@import url('https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css');
*/
@import url('http://fonts.googleapis.com/css?family=Open+Sans:400italic,700italic,400,700&subset=latin,latin-ext');

html, body {
	width: 100%;
	height: 100%;
	overflow: hidden;
	margin: 0px;
    font-size:13px;
    font-family: 'Open Sans', sans-serif;
}
.topData {
    height: 100%;
    color: #8e8e8e;
    /*color: #7d7d7d;*/
    background-color: #f5f5f5;
}
    .topData .altColor {
        color: #000000;
    }
input[type="text"] {
    border: none;
    border-bottom: solid 1px #b7b4b4;
    font-style: italic;
}
input[type="text"]:focus {
    border-bottom:solid 1px #00d6ff;
}
.topData input[type="text"].focus {
    border: solid 1px #00d6ff;
}
#gmMap1 {height:100%; width:100%;}
#header { padding:5px; }

a {
  color: #0088cc;
  text-decoration: none;
}
a:hover {
  text-decoration: underline;
}
.truncate {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
}
/* ======================================== \
 ========== OBVIOUS BUTTONS CSS ===========
\========================================= */
/**
 * Obvious Buttons 0.1
 * https://github.com/skidding/obvious-buttons
 *
 * (c) 2014+ Ovidiu Cherecheș
 * http://skidding.mit-license.org
 */
.button {
  display: block;
  text-align: center;
  cursor: pointer;
  border: none;
  height: 40px;
  padding: 0 14px;
  border-radius: 5px;
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 18px;
  line-height: 37px;
  -webkit-transition-property: background-color;
  -webkit-transition-duration: 0.2s;
  -webkit-transition-timing-function: linear;
  -moz-transition-property: background-color;
  -moz-transition-duration: 0.2s;
  -moz-transition-timing-function: linear;
  -ms-transition-property: background-color;
  -ms-transition-duration: 0.2s;
  -ms-transition-timing-function: linear;
  -o-transition-property: background-color;
  -o-transition-duration: 0.2s;
  -o-transition-timing-function: linear;
  transition-property: background-color;
  transition-duration: 0.2s;
  transition-timing-function: linear;
  background: #fafafa;
  color: #222;
}
.button i {
  line-height: 37px;
}
.button:active,
.button:active i {
  line-height: 40px;
}
.button.button-primary,
.button.button-info,
.button.button-success,
.button.button-warning,
.button.button-danger,
.button.button-inverse {
  -webkit-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -3px 0 0 rgba(0, 0, 0, 0.2);
}
.button:hover,
.button:focus {
  background: #e6e6e6;
  color: #222;
}
.button.button-primary {
  background: #0088cc;
  color: #fafafa;
}
.button.button-primary:hover,
.button.button-primary:focus {
  background: #006da3;
  color: #fafafa;
}
.button.button-info {
  background: #49afcd;
  color: #fafafa;
}
.button.button-info:hover,
.button.button-info:focus {
  background: #339bba;
  color: #fafafa;
}
.button.button-success {
  background: #5bb75b;
  color: #fafafa;
}
.button.button-success:hover,
.button.button-success:focus {
  background: #47a247;
  color: #fafafa;
}
.button.button-warning {
  background: #faa732;
  color: #fafafa;
}
.button.button-warning:hover,
.button.button-warning:focus {
  background: #f9960a;
  color: #fafafa;
}
.button.button-danger {
  background: #da4f49;
  color: #fafafa;
}
.button.button-danger:hover,
.button.button-danger:focus {
  background: #d0312a;
  color: #fafafa;
}
.button.button-inverse {
  background: #363636;
  color: #fafafa;
}
.button.button-inverse:hover,
.button.button-inverse:focus {
  background: #222222;
  color: #fafafa;
}
.button span {
  pointer-events: none;
}
.button:hover {
  text-decoration: none;
}
.button:focus {
  text-decoration: none;
  outline: none;
}
.button:active {
  -webkit-box-shadow: none !important;
  -moz-box-shadow: none !important;
  box-shadow: none !important;
}
.button-small {
  height: 22px;
  padding: 0 6px;
  border-radius: 4px;
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 14px;
  line-height: 20px;
}
.button-small i {
  line-height: 20px;
}
.button-small:active,
.button-small:active i {
  line-height: 20px;
}
.button-small.button-primary,
.button-small.button-info,
.button-small.button-success,
.button-small.button-warning,
.button-small.button-danger,
.button-small.button-inverse {
  -webkit-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -2px 0 0 rgba(0, 0, 0, 0.2);
}
.button-large {
  height: 50px;
  padding: 0 18px;
  border-radius: 6px;
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 22px;
  line-height: 46px;
}
.button-large i {
  line-height: 46px;
}
.button-large:active,
.button-large:active i {
  line-height: 50px;
}
.button-large.button-primary,
.button-large.button-info,
.button-large.button-success,
.button-large.button-warning,
.button-large.button-danger,
.button-large.button-inverse {
  -webkit-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -4px 0 0 rgba(0, 0, 0, 0.2);
}
.button-xlarge {
  height: 60px;
  padding: 0 22px;
  border-radius: 7px;
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  -moz-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.15);
  font-size: 26px;
  line-height: 55px;
}
.button-xlarge i {
  line-height: 55px;
}
.button-xlarge:active,
.button-xlarge:active i {
  line-height: 60px;
}
.button-xlarge.button-primary,
.button-xlarge.button-info,
.button-xlarge.button-success,
.button-xlarge.button-warning,
.button-xlarge.button-danger,
.button-xlarge.button-inverse {
  -webkit-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  -moz-box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
  box-shadow: inset 0 -5px 0 0 rgba(0, 0, 0, 0.2);
}
.button-inline {
  display: inline-block;
  vertical-align: middle;
}
.zoomMap {
    height: 30px !important;
    vertical-align: central !important;
    margin: 0px 5px 7px 5px !important;
}

.btn_expand_map {
    background-color: #2196f3;
    margin: 10px 8px 2px 2px;
    border-radius: 10%;
    padding: 7px;
    color: white;
}
