.primary-color{
    background-color: #0c2840;
    /*background-color: #1a5a7f;*/
    color: white;
}

.background-color{
    background-color: #f9f9f9;
}

.title-primary{
    width: 50%;
    text-align: center;
    margin: 6px auto !important;
    display: block;
    border-radius: 5px;
}

.glyphicon{
    top: 0px;
}

.center-object{
    display: block;
    margin: 0 auto;
}

.webmaster-color{
    background-color: purple;
}

.danger-color-1{
    background-color: #BA1919;
}

.danger-color-2{
    background-color: #A51B1E;
}

.danger-color-3{
    background-color: #8F1D23;
}

.danger-color-4{
    background-color: #6B161B;
}

.warning-color-1{
    background-color: #F8821F;
}

.warning-color-2{
    background-color: #B7532C;
}

.warning-color-3{
    background-color: #9E4D2F;
}

.warning-color-4{
    background-color: #8E462B;
}

.info-color-1{
    background-color: #E6B63D;
}

.info-color-2{
    background-color: #CEA73D;
}

.info-color-3{
    background-color: #B6973D;
}

.info-color-4{
    background-color: #987E3D;
}

.block-indicator{
    padding-left: 0px;
    padding-right: 0px;
}

.block-indicator .block-title{
    font-size: .8em;
    position: relative;
    top: -1px;
}

.block-indicator .block-number{
    display: block;
    width: 21px;
    height: 21px;
    padding: 0px;
    padding-top: 4px;
    margin: 0 auto;
    font-size: 1em;
    text-align: center;
}

.block-number-general{
    background-color: white;
    color:black;
}

.btn-update-alerts{
    width: 25px;
    height: auto;
    margin-top: 0px;
    font-size: 0.7em;
    padding: 4px;
    position: relative;
    top: -2px;
}

.row{
    margin-top: 8px;
}

.block-display{
    margin: 0 auto;
    /*width: 64px;*/
}

.block-display input{
    display: inline-block;
    margin-right: 0px;
    width: 10px;
    position: relative;
    top: 1px;
}

.block-display .block-number{
    display: inline-block;
}

#cell_searchbar label{
    font-size: 0.8em;
    font-weight: normal;
}

#cell_alert_details .row{
    font-size: 0.8em;
    margin-top: 0px;
}

.header_custom{
    background-color: #0c2840;
    /*background-color: #1a5a7f;*/
    height: 27px;
    margin-top: 0px;
}

.header_custom .nav-tabs a{
    color: white;
    height: 28px;
    padding: 3px;
    background-color: #eee;
}

.header_custom .nav-tabs a:hover{
    color: #1a5a7f;
}

.header_custom .nav-tabs .active a{
    color: #1a5a7f;
}

.header_custom .pagination a, .navigation-detalles .pagination a{
    height: 26px;
    padding: 2px;
    padding-left: 6px;
    padding-right: 6px;
    background-color: #0c2840;
    /*background-color: #1a5a7f;*/
    color: white;
    border: 1px solid white;
}

.header_custom .pagination a:hover, .navigation-detalles .pagination a:hover{
    background-color: #0c2840;
    color: #1a5a7f;
}

.header_custom button{
    border: 1px solid white;
    background-color: #1a5a7f;
    color: white;
    font-size: 0.8em;
    height: 27px;
}

/*.header_custom button:hover{
    background-color: white;
    color: #1a5a7f;
}*/

.header_custom .btn-info-icon{
    border: 0px;
}

.header_custom .btn-info-icon:hover{
    background-color: #1a5a7f;
    color: white;
}

.header_custom .btn-info-icon:focus{
    background-color: #1a5a7f;
    color: white;
}

#Detalles label{
    font-size: 1em;
    margin-bottom: 0px;
}

.row-form{
    margin-top: 0px;
    margin-left: -6px;
}

.row-form input[type='text']{
    font-size: 0.7em;
}

.nav-tabs a{
    font-size: 0.8em;
    height: 22px !important;
    background-color: #f9f9f9;
    color: #1a5a7f !important;
}

.nav-tabs .active a{
    background-color: #0c2840 !important;
    /*background-color: #1a5a7f !important;*/
    color: white !important;
}

.nav-tabs-no-border{
    border: 0px;
}

.nav-tabs{
    margin-top: 6px;
}

.header_custom .pagination a{
    height: 22px;
    padding: 0px;
    padding-left: 4px;
    padding-right: 4px;
}

.nav-tabs{
    padding-left: 5px;
}

.gray-button{
    background-color: #DDDDDD !important;
}

#cell_searchbar .col-md-8{
    padding: 0px;
}


.font-size-dhtmlx-search label{
    font-weight: normal;
    font-size: 0.9em;
}

.navigation-header a{
    height: 19px !important;
    font-size: 0.9em;
}

.table-comentarios td{
    line-height: 18px !important;
    padding: 0px !important;
}

.table-comentarios input{
    margin-top: 6px !important;
}

#Activas .xhdr{
    height: 0px !important;
}

.comentarios-cremita{
    background-color: #FDFEC2 !important;
}

.comentarios-verde{
    background-color: #EBFBEB !important;
}

.comentarios-cafe{
    background-color: #EED4BA !important;
}

.separator-indicadores-alertas{
    background-color: #bebebe; 
    width: 1px; 
    height: 20px;
}

/*.table-alerts-notification td{
    border: 1px solid black;
}*/

.table-alerts-notification td{
    padding-right: 5px;
    padding-left: 5px;
}

.block-indicator-limit{
    padding-right: 0px;
}

.span-separator{
    vertical-align: text-bottom;
    font-weight: bold;
}

.tab-alertas-a{
    margin-top: -2px !important; 
    font-size: 0.9em !important; 
    padding-top: 3px !important; 
    padding-bottom: 6px !important; 
    padding-right: 2px !important; 
    padding-left: 2px !important; 
    margin-right: 2px !important;
}

.ojo-indicador{
    background-image: url(../img/ojo.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    top: 3px !important;
    background-repeat: no-repeat;
}

.ojo-indicador-no-raya{
    background-image: url(../img/ojo-no-raya.png);
    display: block;
    height: 20px;
    width: 20px;
    background-repeat: no-repeat;
}

.ojo-indicador-no-raya-gris{
    background-image: url(../img/ojo-no-raya2.png);
    background-repeat: no-repeat;
}

.ojo-indicador-raya-gris{
    background-image: url(../img/ojo-raya2.png);
    background-repeat: no-repeat;
}



.campana-indicador{
    background-image: url(../img/campana.png);
    width: 16px;
    height: 16px;
    display: inline-block;
    top: 4px !important;
    background-repeat: no-repeat;
}

.ojo-indicador-mejorada{
    background-image: url(../img/ojo-mejorada.png);
    top: 3px !important;
}

.campana-indicador-mejorada{
    background-image: url(../img/campana-mejorada.png);
    top: 3px !important;
}

.campana-indicador-mejorada60{
    background-image: url(../img/campana-mejorada60.png);
}

.campana-indicador-mejorada40{
    background-image: url(../img/campana-mejorada40.png);
}

.ojo-indicador-mejorada60{
    background-image: url(../img/ojo-mejorada60.png);
}

.ojo-indicador-mejorada40{
    background-image: url(../img/ojo-mejorada40.png);
}